@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-jet-mono: var(--font-jetbrains-mono);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-mono: var(--font-jet-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-jet-mono), monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  /*overflow: hidden;*/
}

/* ACTIVATION DES LIGATURES POUR LE CODE */
code, pre, kbd {
  font-variant-ligatures: normal; /* Force l'activation des ligatures standard */
  font-feature-settings: "calt" 1; /* Assure la compatibilité avec les variantes contextuelles */
}

a:focus-visible {
  border: 1px solid #CEF739;
  outline: none;
  border-radius: 8px;
}

button:focus-visible {
  border: 1px solid #CEF739;
  outline: none;
}

input:focus-visible {
  outline: none;
  border: 2px solid #CEF739;
}

.btn {
  position: relative;
  isolation: isolate;
}

.btn::after {
  content: "";
  position: absolute;
  inset: -4px;
  border: 1px solid transparent;
  border-radius: calc(0.5rem + 4px); /* adapte selon ton rounded-lg */
  pointer-events: none;
  opacity: 0;
  transition:
          opacity .2s ease,
          border-color .2s ease;
}

.btn:focus-visible {
  outline: none;
  border-color: #CEF739;
}

.btn:focus-visible::after {
  opacity: 1;
  border-color: #CEF739;
}

.inputexch:hover,
.inputexch:focus {
  border: none;
  outline: none;
}

@layer utilities {
  .skeleton-item {
    color: transparent !important;
    background: rgb(92 97 117 / 0.29);
    border-color: rgb(92 97 117 / 0.29) !important;
    border-radius: 0.375rem;
    pointer-events: none;
    user-select: none;
    position: relative;
    overflow: hidden;
  }

  /* Effet de balayage brillant (shimmer) */
  .skeleton-item::after {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(
            90deg,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0.4) 20%,
            rgba(255, 255, 255, 0.6) 60%,
            rgba(255, 255, 255, 0) 100%
    );
    animation: shimmer 1.5s infinite;
    content: '';
  }

  @media(prefers-reduced-motion: no-preference) {
    ::view-transition-group(tab-content) {
      animation-timing-function: ease;
    }

    .tabContent {
      animation-name: tab-content;
    }

    @keyframes shimmer {
      100% { transform: translateX(100%); }
    }

    @keyframes slide-out {
      to {
        translate: -100vw;
      }
    }

    @keyframes slide-in {
      from {
        translate: 100vw;
      }
    }
  }
}


[data-theme="dark"] {
  --background: #0a0a0a;
  --foreground: #ededed;
}
